# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
**.env
.venv/
.vscode/
.DS_Store

# Testing
.pytest_cache/

# Data
data/
test_data/

# Scratch files
scratch.*